{{ define "main" }}
<header>{{- partial "header.html" . -}}</header>
<hr>
<content>
  <ul class="blog-posts">
    {{ $currentYear := 0 }} {{ range .Pages }} {{ if not .Params.hidden }}
    <li>
      <span class="{{ if .Site.Params.groupByYear }} grouped {{ else }} ungrouped {{ end }}">
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }} {{ else }}
    <li>暂无文章</li>
    {{ end }}
  </ul>
</content>
{{ end }}
