{{ define "main" }}
<header>{{- partial "header.html" . -}}</header>
<hr>

<main>
	{{ if .Data.Singular }}
	<h3 style="margin-bottom:0">筛选「{{ .Title }}」</h3>
	<small><a href={{ "archives/" | relURL }}>取消筛选</a></small>
	{{ end }}

	{{ $postPages := where .Site.RegularPages "Type" "eq" "posts" }}

	<ul class=blog-posts>
		{{ $currentYear := 0 }}
		{{ range $postPages }}
		{{ if .Site.Params.groupByYear }}
		{{ $year := .Date.Year }}
		{{ if ne $year $currentYear }}
		<h3>{{ $year }}</h3>
		{{ $currentYear = $year }}
		{{ end }}
		{{ end }}
		<li>
			<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}</time>
			<span class="post-link-wrapper">
				<a href="{{ .RelPermalink }}" class="post-title">{{ .Title }}</a>
			</span>
		</li>
		{{ else }}
		<li>暂无文章</li>
		{{ end }}
	</ul>
	{{ if not .Data.Singular }}
	<footer>
		<nav class=tags>
			{{ range .Site.Taxonomies.tags }}
			<a href={{ .Page.Permalink }}>#{{ .Page.Title }}</a>
			{{ end }}
		</nav>
	</footer>
	{{ end }}
</main>
{{ end }}
