<a href="{{ "" | relURL }}">首页</a>
{{ $newTabEnabled := .Site.Params.externalLinksNewTab | default false }}
{{ range .Site.Menus.main }}
{{- $href := .URL -}}
{{- if not (or (hasPrefix .URL "http://") (hasPrefix .URL "https://")) -}}
{{- $href = .URL | relURL -}}
{{- end -}}
{{ $isExternal := or (hasPrefix .URL "http://") (hasPrefix .URL "https://") }}
{{ if and $isExternal $newTabEnabled }}
<a href="{{ $href }}" target="_blank" rel="noopener noreferrer">{{ .Name }}</a>
{{ else }}
<a href="{{ $href }}">{{ .Name }}</a>
{{ end }}
{{ end }}
{{ with .Site.GetPage "/posts" }}
<a href="{{ "posts/" | relURL }}">文章</a>
{{ end }}
<a href="{{ "tags/" | relURL }}">标签</a>
